body.auth-view {
  background-color: #f2f2f2;
}

main.auth-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.auth-view-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: normal;
  margin: 0 0 30px;
  color: #4B4B4B;
}

.auth-view-container {
  max-width: 458px;
  width: 100%;
}

.auth-form {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  overflow: hidden;
}

.auth-form__inputs-container {
  padding: 30px 50px 50px;
  background-color: #fff;
}

.auth-form__submit-btn-container {
  padding: 30px 50px;
  background-color: #fafafa;
}

.auth-form__welcome-message {
  margin: 0 0 30px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0 30px;
}

.auth-form__inputs-container label {
  border-left: thick solid #333;
  padding-left: 10px;
  font-size: 0.95rem;
  margin-bottom: 10px;
  display: block;
}

.auth-form__password-label {
  margin-top: 30px;
}

.auth-form__inputs-container input {
  display: block;
  min-height: 40px;
  padding: 6px 14px;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  font-size: 0.95rem;
  width: 100%;
}

.auth-form__input.error {
  border-color: #d90b1b;
  background-color: #ffe4e4;
}

.auth-form__input-error {
  color: #d90b1b;
  font-size: 0.825rem;
}

.auth-form__input-error.active {
  margin-top: 5px;
}

.auth-form__inputs-container input::placeholder {
  opacity: 0.5;
}

.auth-form__submit-btn-container {
  text-align: center;
}

.auth-form__submit-btn[disabled] {
  opacity: 0.35;
  color: #f0f0f0;
  cursor: default;
  pointer-events: none;
}

.auth-form__submit-btn {
  padding: 10px 42px;
  border-radius: 30px;
  font-size: 1rem;
  background-color: var(--dark-accent-color);
  color: #fff;
  transition: opacity var(--base-transition-duration);
}

.auth-redirect {
  margin: 40px 0 0;
  text-align: center;
}

.auth-redirect__message {
  font-size: 0.95rem;
  color: #6e6e6e;
  margin-bottom: 18px;
}

.auth-redirect__link {
  padding: 9px 20px;
  border: 2px solid var(--medium-accent-color);
  border-radius: 50px;
  display: inline-block;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration), border var(--base-transition-duration);
}

.auth-form__error {
  color: #d90b1b;
  font-size: 0.95rem;
  background-color: #fff;
}
.auth-form__message {
  background-color: #fff;
  font-size: 0.95rem;
}

.auth-form__message.active,
.auth-form__error.active  {
  padding: 0 50px 20px;
  margin-top: -20px
}

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) { 
  .auth-form__submit-btn:is(:hover, :focus-visible) {
    opacity: 0.75;
  }

  .auth-redirect__link:is(:hover, :focus-visible) {
    color: #fff;
    background-color: var(--medium-accent-color);
    border: 2px solid var(--medium-accent-color);
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* MEDIA QUERIES */

@media screen and (max-width: 450px) {
  .auth-form__inputs-container {
    padding: 30px;
  }
  
  .auth-form__submit-btn-container {
    padding: 30px;
  }

  .auth-form__message.active,
  .auth-form__error.active  {
    padding: 0 30px 20px;
    margin-top: 0px;
  }
}

/* END OF MEDIA QUERIES */