main.dashboard-view {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.widgets-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 10%;
  width: 100%;
}

/* TIMER AND QUOTE */

.timer-quote-container {
  text-align: center;
}

/* END OF TIMER AND QUOTE */

/* TASK MANANGER */

.task-manager-container {
  max-width: 600px;
  width: 100%;
}

/* END OF TASK MANANGER */

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .widgets-list {
    display: flex;
    flex-flow: column;
    gap: 7rem;
  }

  main.dashboard-view {
    padding: 80px 15px 30px !important;
  }
}

@media screen and (max-width: 550px) {
  .task-manager {
    padding: 20px;
  }
}

/* END OF MEDIA QUERIES */