

.user-menu-btn {
  right: 20px;
  top: 20px;
  z-index: 10;
  position: fixed;
  background-color: #fff;
  border-radius: 50%;
  line-height: 0;
  padding: 5px;
  border: 2px solid var(--dark-accent-color);
  will-change: transform;
  transition: transform 0.15s, border var(--base-transition-duration);
}

.user-menu-btn-svg {
  width: 1.8rem;
  color: var(--dark-accent-color);
  transition: color var(--base-transition-duration); 
  line-height: 0;
}

.user-menu-btn:hover {
  transform: scale(1.05);
}

.user-menu-btn:active {
  border: 2px solid var(--dark-to-medium-accent-color);
  transition: transform 0.075s;
  transform: scale(1);
}

.user-menu-btn:active .user-menu-btn-svg {
  width: 1.8rem;
  color: var(--dark-to-medium-accent-color);
  transition: none; 
  line-height: 0;
}

.user-menu {
  background-color: #fff;
  position: fixed;
  top: 73px;
  right: 20px;
  max-width: 175px;
  width: 100%;
  z-index: 20;
  border-radius: 12px;
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  overflow-x: hidden;
  display: none;
  scrollbar-width: thin;
}

.user-menu.active {
  display: block;
}

.user-menu__link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.05rem;
  width: 100%;
  padding: 8px 17px;
  overflow: hidden;
}

.user-menu__link-svg {
  width: 1.6rem;
  line-height: 0;
}

.user-menu__link:hover,
.user-menu__link:focus-visible {
  background-color: rgba(0, 0, 0, 0.07);
  outline: none;
}

.user-menu__link:active {
  background-color: rgba(0, 0, 0, 0.15);
}