.navbar {
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  position: fixed;
  z-index: 10;
  background-color: white;
  top: 0;
  width: 100%;
}

.navbar__links-list {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.navbar__links-list li {
  display: inline-block;
}

.navbar__link:hover {
  color: green;
}

.navbar__logout-btn:hover {
  color: rgb(240, 74, 74);
}
.navbar__auth-links-container {
  gap: 8px;
  display: flex;
}

.navbar__greeting-message {
  opacity: 0.5;
}