.login-view__recover-password-link {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: rgb(99, 102, 240);
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 40px;
  font-size: 0.95rem;
}

.login-view__recover-password-link:hover {
  text-decoration: underline;
}

.login-view__recover-password-link::before {
  content: "➜ ";
  color: #4B4B4B;
}

.auth-form {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  overflow: hidden;
}

.auth-form__inputs-container {
  padding: 30px 50px;
  background-color: #fff;
}

.auth-form__submit-btn-container {
  padding: 30px 50px;
  background-color: #fafafa;
}

.auth-form__welcome-message {
  margin: 0 0 30px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0 30px;
}

.auth-form__inputs-container label {
  border-left: thick solid #333;
  padding-left: 10px;
  font-size: 0.95rem;
  margin-bottom: 10px;
  display: block;
}

.auth-form__password-label {
  margin-top: 30px;
}

.auth-form__inputs-container input {
  display: block;
  min-height: 40px;
  padding: 6px 14px;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  font-size: 0.95rem;
  width: 100%;
}

.auth-form__inputs-container input::placeholder {
  opacity: 0.5;
}

.auth-form__submit-btn-container {
  text-align: center;
}

.auth-form__submit-btn[disabled] {
  opacity: 0.35;
  color: #f0f0f0;
  cursor: default;
  pointer-events: none;
}

.auth-form__submit-btn {
  padding: 10px 42px;
  border-radius: 30px;
  font-size: 1rem;
  background-color: var(--dark-accent-color);
  color: #fff;
  transition: opacity var(--base-transition-duration);
}

.auth-form__error {
  color: #d90b1b;
  font-size: 0.95rem;
  background-color: #fff;
  padding: 0 50px 15px;
}

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) { 
  .auth-form__submit-btn:is(:hover, :focus-visible) {
    opacity: 0.75;
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* MEDIA QUERIES */

@media screen and (max-width: 450px) {
  .auth-form__inputs-container {
    padding: 30px;
  }
  
  .auth-form__submit-btn-container {
    padding: 30px;
  }

  .auth-form__error {
    padding: 0 30px 15px;
  }
}

/* END OF MEDIA QUERIES */