.login-view-recover-passowrd-link-container {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 40px;
  text-align: center;
  margin-top: 30px;
  color: rgb(99, 102, 240);
  font-size: 0.95rem;
}

.login-view-recover-password-link {
  display: inline-block;
  padding-bottom: 1px;
}

.login-view-recover-password-link::before {
  content: "➜ ";
  color: #4B4B4B;
}