main.logout-view {
  padding: 50px 30px 40px;
}

body.logout-view {
  background-color: #fff;
  transition: none;
}

body.logout-view .background-image {
  display: none
}

body.logout-view main {
  position: static;
}


.logout-message {
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  font-size: 1.05rem;
}

.logout-message.error {
  background-color: #ee4a31;
  color: #fff;
}

.return-home-message {
  font-size: 1.05rem;
  margin-top: 10px;
  display: none;
}

.logout-message.error + .return-home-message {
  display: block;
}

.return-home-link {
  text-decoration: underline;
}

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) { 
  .return-home-link:is(:hover, :focus-visible) {
    opacity: 0.75;
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* MEDIA QUERIES */

@media screen and (max-width: 550px) {
  main.logout-view {
    padding: 40px 15px 30px;
  }
}

/* END OF MEDIA QUERIES */