body {
  font-family: sans-serif;
}

:root {
  --dark-accent-color: #55373d;
  --dark-to-medium-accent-color: #7a4f54;
  --medium-accent-color: #d8085f;
  --contrast-color: #91c989;
  --light-accent-color: #fff;
  --base-transition-duration: 0.25s;
  --base-text-color: #272727;
  --base-font-size: 1.15rem;
}

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /* maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /* modern browsers, clip-path works inwards from each corner */
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

body {
  background-color: var(--light-accent-color);
  position: relative;
  transition: background-color 0.5s;
}

body main {
  z-index: 1;
  position: relative;
  height: 100%;
}

/* Need to apply it on page load, to avoid missing bg image transitions */
.background-image {
  transition: opacity 1s;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  opacity: 0;
}

/* Reset theme handler styles */
body.auth-view {
  background-color: initial;
  position: static;
  transition: none;
}

body.auth-view main {
  z-index: auto;
  position: static;
}

body.auth-view .background-image {
  transition: none;
  opacity: 0;
  background-image: none;
  position: static;
  inset: initial;
}
/* End of Reset theme handler styles */

main {
  min-height: 100vh;
  padding: 80px 30px 50px;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  min-width: 360px;
  color: var(--base-text-color);
}

/* LOADERS */

/* PAGE LOADER */

.bouncer-container {
  position: fixed;
  background-color: #fff;
  inset: 0;
  z-index: 100;
  transition: background-color 0.5s;
}

.bouncer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  padding-top: 100px;
  gap: 0.4rem;
  transition: opacity var(--base-transition-duration);
}

.bouncer div {
  --bounce-animation-duration: 0.5s;
  width: 1.35rem;
  height: 1.35rem;
  background: var(--contrast-color);
  border-radius: 50%;
  animation: 
    bounce var(--bounce-animation-duration) cubic-bezier(.19,.57,.3,.98) infinite alternate 0.5s, 
    fallDown var(--bounce-animation-duration) cubic-bezier(.67,.11,1,.43);
}

.bouncer div:nth-child(2) {
  opacity: 0.8;
  animation-delay: 0.6s, 0s;
  animation-duration: var(--bounce-animation-duration), 0.6s;
}

.bouncer div:nth-child(3) {
  opacity: 0.6;
  animation-delay: 0.7s, 0s;
  animation-duration: var(--bounce-animation-duration), 0.7s;
}

.bouncer div:nth-child(4) {
  opacity: 0.4;
  animation-delay: 0.8s, 0s;
  animation-duration: var(--bounce-animation-duration), 0.8s;
}

@keyframes bounce {
  from { transform: translateY(0) }
  to { transform: translateY(-100px) }
}

@keyframes fallDown {
  from { transform: translateY(-100px) }
  to { transform: translateY(0) }
}

/* END OF PAGE LOADER */

/* LOADING CIRCLE */

.loading-circle {
  display: flex;
  justify-content: center;
}

.loading-circle::after {
  content: "";
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: spinLoader 1s ease infinite;
}

.loading-circle.extra-small::after {
  width: 1.375rem; /* 22px */
  height: 1.375rem; /* 22px */
  border: 0.25rem solid transparent;
  border-top-color: inherit;
}

.loading-circle.small::after {
  width: 1.6875rem; /* 27px */
  height: 1.6875rem; /* 27px */
  border: 0.330rem solid transparent;
  border-top-color: inherit;
}

.loading-circle.medium::after {
  width: 2.4375rem; /* 39px */
  height: 2.4375rem; /* 39px */
  border: 0.478rem solid transparent;
  border-top-color: inherit;
}

.loading-circle.large::after {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 0.55rem solid transparent;
  border-top-color: inherit;
}

@keyframes spinLoader {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* END OF LOADING CIRCLE */

/* QUOTE LOADER */

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* END OF QUOTE LOADER */

/* BLUR IMAGE PROGRESSIVE LOADER */

.blur-img-loader {
  position: relative;
  background-size: cover;
  background-position: center;
}

.blur-img-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 1.25s infinite ease-in-out alternate;
}

.blur-img-loader.loaded::before {
  content: none;
}

.blur-img-loader img {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  object-fit: cover;
  object-position: center;
}

.blur-img-loader.loaded img {
  opacity: 1;
}

@keyframes pulse {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

/* END OF BLUR IMAGE PROGRESSIVE LOADER */

/* END OF LOADERS */

/* CUSTOM UNDERLINES */

.no-wrap {
  white-space: nowrap
}

.slide-in-and-out,
.slide-in-and-back,
.slide-middle-out {
  position: relative;
  z-index: 1;
}

.slide-in-and-out::after,
.slide-in-and-out.underline::before,
.slide-in-and-back::after,
.slide-in-and-back.underline::before,
.slide-middle-out::after,
.slide-middle-out.underline::before  {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1em;
  background-color: currentColor;
  border-radius: 2px;
  transform: scaleX(0);
}

/* Makes sure the underline does not become too thin at small font sizes */
.slide-in-and-out.fixed-height::after,
.slide-in-and-out.underline.fixed-height::before,
.slide-in-and-back.fixed-height::after,
.slide-in-and-back.underline.fixed-height::before,
.slide-middle-out.fixed-height::after,
.slide-middle-out.underline.fixed-height::before {
  height: 2px;
}

.slide-in-and-out::after,
.slide-in-and-back::after,
.slide-middle-out::after,
.appear-bg-from-center::after {
  transition: transform 0.3s, opacity 0.5s, background-color var(--base-transition-duration);
  will-change: transform;
}

.slide-in-and-out::after {
  transform-origin: right;
}

.slide-in-and-back::after {
  transform-origin: left;
}

.slide-middle-out::after {
  transform-origin: center;
}

.slide-in-and-out.underline::before,
.slide-in-and-back.underline::before,
.slide-middle-out.underline::before {
  transform: scaleX(1);
  opacity: 0.3;
}

/* END OF CUSTOM UNDERLINES */

/* UI COMPONENTS */

.appear-bg-from-center,
.slide-bg-in-and-back {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.appear-bg-from-center::after,
.slide-bg-in-and-back::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: transform var(--base-transition-duration), opacity 0.5s;
  background-color: var(--dark-to-medium-accent-color);
  z-index: -1;
  will-change: transform;
}

.appear-bg-from-center::after {
  transform: scale(0);
}

.slide-bg-in-and-back::after {
  transition: transform 0.4s;
  transform-origin: left;
  transform: scaleX(0);
  background-color: var(--medium-accent-color);
  opacity: 1;
}

.appear-bg-from-center.rounded {
  border-radius: 50px;
}

.appear-bg-from-center.rounded::after {
  border-radius: 50px;
}

.appear-bg-from-center.dark {
  transition: color var(--base-transition-duration);
}

.appear-bg-from-center.dark::after {
  background-color: #4d4d4d;
  transition: transform var(--base-transition-duration), opacity 0.33s;
}

.appear-bg-from-center.dark-soft::after {
  background-color: #eee;
}

.appear-bg-from-center.light::after {
  background-color: var(--light-accent-color);
}

.slide-button {
  position: relative;
  overflow: hidden;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration), padding 0.25s, opacity var(--base-transition-duration);
  will-change: padding;
  padding: 10px 30px;
  color: #fff;
}

.slide-button::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: currentColor;
  transition: right 0.25s;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.edit-modal__submit-btn.slide-button::after {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='m21.41 11.58l-9-9C12.04 2.21 11.53 2 11 2H4c-.53 0-1.04.21-1.41.59C2.21 2.96 2 3.47 2 4v7c0 .26.05.53.15.77c.1.23.25.46.44.65l1.98 1.98L6 13l-2-2V4h7l9 9l-7 7l-2.13-2.13l-.17.17v-.01l-1.25 1.25l2.14 2.14c.38.37.88.58 1.41.58s1.04-.21 1.41-.59l7-7c.38-.37.59-.88.59-1.41c0-.26-.05-.5-.15-.77c-.1-.23-.25-.46-.44-.65M6.5 5a1.5 1.5 0 0 1 1.39.93c.11.27.14.57.08.86s-.2.56-.41.77s-.48.35-.77.41s-.59.03-.86-.08A1.5 1.5 0 0 1 6.5 5m4.2 10.35l1-1a.55.55 0 0 0 0-.77l-1.28-1.28a.55.55 0 0 0-.77 0l-1 1zm-2.64-1.47L2 19.94V22h2.06l6.05-6.07z' /%3E%3C/svg%3E") no-repeat;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='m21.41 11.58l-9-9C12.04 2.21 11.53 2 11 2H4c-.53 0-1.04.21-1.41.59C2.21 2.96 2 3.47 2 4v7c0 .26.05.53.15.77c.1.23.25.46.44.65l1.98 1.98L6 13l-2-2V4h7l9 9l-7 7l-2.13-2.13l-.17.17v-.01l-1.25 1.25l2.14 2.14c.38.37.88.58 1.41.58s1.04-.21 1.41-.59l7-7c.38-.37.59-.88.59-1.41c0-.26-.05-.5-.15-.77c-.1-.23-.25-.46-.44-.65M6.5 5a1.5 1.5 0 0 1 1.39.93c.11.27.14.57.08.86s-.2.56-.41.77s-.48.35-.77.41s-.59.03-.86-.08A1.5 1.5 0 0 1 6.5 5m4.2 10.35l1-1a.55.55 0 0 0 0-.77l-1.28-1.28a.55.55 0 0 0-.77 0l-1 1zm-2.64-1.47L2 19.94V22h2.06l6.05-6.07z' /%3E%3C/svg%3E") no-repeat;
}

.task-manager__add-prompt-submit-btn.slide-button::after {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M6.25 3A3.25 3.25 0 0 0 3 6.25v11.5A3.25 3.25 0 0 0 6.25 21h5.772a6.5 6.5 0 0 1-.709-1.5H6.25a1.75 1.75 0 0 1-1.75-1.75V6.25c0-.966.784-1.75 1.75-1.75h11.5c.966 0 1.75.784 1.75 1.75v5.063a6.5 6.5 0 0 1 1.5.709V6.25A3.25 3.25 0 0 0 17.75 3zm6.25 6.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75m-1.72-.47a.75.75 0 1 0-1.06-1.06L8.25 9.19l-.47-.47a.75.75 0 0 0-1.06 1.06l1 1a.75.75 0 0 0 1.06 0zm0 4.44a.75.75 0 0 1 0 1.06l-2 2a.75.75 0 0 1-1.06 0l-1-1a.75.75 0 1 1 1.06-1.06l.47.47l1.47-1.47a.75.75 0 0 1 1.06 0M23 17.5a5.5 5.5 0 1 0-11 0a5.5 5.5 0 0 0 11 0m-5 .5l.001 2.503a.5.5 0 1 1-1 0V18h-2.505a.5.5 0 0 1 0-1H17v-2.5a.5.5 0 1 1 1 0V17h2.497a.5.5 0 0 1 0 1z' /%3E%3C/svg%3E") no-repeat;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M6.25 3A3.25 3.25 0 0 0 3 6.25v11.5A3.25 3.25 0 0 0 6.25 21h5.772a6.5 6.5 0 0 1-.709-1.5H6.25a1.75 1.75 0 0 1-1.75-1.75V6.25c0-.966.784-1.75 1.75-1.75h11.5c.966 0 1.75.784 1.75 1.75v5.063a6.5 6.5 0 0 1 1.5.709V6.25A3.25 3.25 0 0 0 17.75 3zm6.25 6.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75m-1.72-.47a.75.75 0 1 0-1.06-1.06L8.25 9.19l-.47-.47a.75.75 0 0 0-1.06 1.06l1 1a.75.75 0 0 0 1.06 0zm0 4.44a.75.75 0 0 1 0 1.06l-2 2a.75.75 0 0 1-1.06 0l-1-1a.75.75 0 1 1 1.06-1.06l.47.47l1.47-1.47a.75.75 0 0 1 1.06 0M23 17.5a5.5 5.5 0 1 0-11 0a5.5 5.5 0 0 0 11 0m-5 .5l.001 2.503a.5.5 0 1 1-1 0V18h-2.505a.5.5 0 0 1 0-1H17v-2.5a.5.5 0 1 1 1 0V17h2.497a.5.5 0 0 1 0 1z' /%3E%3C/svg%3E") no-repeat;
}

/* MODIFIERS */

.highlighted, .highlighted-2 {
  color: var(--base-text-color);
  border-radius: 2px;
}

.highlighted {
  background-color: var(--contrast-color);
}

.highlighted-2 {
  background-color: var(--light-accent-color);
  display: inline-block;
  text-decoration: none;
} 

/* END OF MODIFIERS */

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  .slide-in-and-out:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .slide-in-and-back:is(:hover, :focus-visible)::after,
  .slide-middle-out:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
  }

  .appear-bg-from-center:not(.active):is(:hover, :focus-visible)::after {
    transform: scale(1);
    opacity: 1;
  }

  .slide-bg-in-and-back:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
  }

  .task-manager__tab-btn.appear-bg-from-center.dark:not(.active):is(:hover, :focus-visible) {
    color: #fff;
  }

  .slide-button:is(:hover, :focus-visible) {
    padding: 10px 55px 10px 25px;
    transition: padding 0.4s, opacity var(--base-transition-duration);
  } 
  
  .slide-button:is(:hover, :focus-visible)::after {
    right: 17px;
    transition: right 0.4s;
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */

.appear-bg-from-center:active svg {
  opacity: 0.75;
}

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
  html {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 550px) {
  main {
    padding: 100px 15px 40px;
  }
}

/* END OF MEDIA QUERIES */