/* DIALOG */

.confirm-modal-container,
.edit-dialog-container,
.info-dialog-container { 
  font-size: 1.225rem;
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.edit-dialog-overlay,
.confirm-modal-overlay,
.info-dialog-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.25s;
}

.confirm-modal,
.edit-dialog,
.info-dialog {
  position: relative;
  max-width: 400px;
  background-color: #fff;
  padding: 30px;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
  transform: scale(0);
  transition: transform 0.25s, opacity 0.20s;
  scrollbar-width: thin;
  max-height: 95vh;
  overflow-y: auto;
  z-index: 25;
  opacity: 0;
}

.confirm-modal img,
.info-dialog img {
  display: block;
  margin: 0 auto 15px;
}

.confirm-modal__recycle-placeholder-img {
  width: 100px;
}

.dialog__capybara-placeholder-img {
  width: 125px;
}

.edit-dialog__close-btn,
.confirm-modal__close-btn,
.info-dialog__close-btn {
  position: absolute !important;
  right: 15px;
  top: 15px;
  line-height: 0;
  padding: 3px;
}

.confirm-modal__desc,
.info-dialog__desc {
  margin: 0 0 30px;
} 

.confirm-modal__accept-btn,
.confirm-modal__cancel-btn,
.info-dialog__accept-btn {
  background-color: var(--dark-accent-color);
  padding: 12px 18px;
  color: #fff;
  border-radius: 3px;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.edit-dialog__close-btn .edit-dialog__close-icon,
.confirm-modal__close-btn .confirm-modal__close-icon,
.info-dialog__close-btn .info-dialog__close-icon {
  width: 1.35em;
}

.confirm-modal__delete-options-container {
  font-size: 1.1rem;
  margin-top: 20px;
}

.confirm-modal__delete-option-btn {
  color: var(--medium-accent-color);
  transition: opacity var(--base-transition-duration);
}

.confirm-modal__delete-option-btn:first-child {
  margin-bottom: 5px;
}

/* END OF DIALOG */

/* EDIT DIALOG */

.form-dialog {
  max-width: 450px;
  text-align: start;
  padding: 30px 50px;
  width: 100%;
}

.edit-dialog__task, 
.edit-dialog__date,
.edit-dialog__desc {
  width: 100%;
  border-radius: 3px;
  margin: 0 0 25px;
  padding: 10px;
  border: 2px dashed var(--dark-accent-color);
}

.edit-dialog__task, 
.edit-dialog__date {
  background-color: var(--light--accent-color);
}

.edit-dialog__task:focus, 
.edit-dialog__date:focus,
.edit-dialog__desc:focus {
  outline: none;
  border: 2px solid var(--dark-accent-color);
}

.edit-dialog label {
  display: block;
  padding: 0 0 10px;
}

.edit-dialog__desc {
  resize: vertical;
  max-height: 250px;
  min-height: 100px;
  scrollbar-width: thin;
  display: block;
}

.edit-dialog__submit-btn {
  background-color: var(--medium-accent-color);
  border-radius: 5px;
  width: 100%;
}

/* END OF EDIT DIALOG */

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  .confirm-modal__accept-btn:is(:hover, :focus-visible),
  .confirm-modal__cancel-btn:is(:hover, :focus-visible),
  .info-dialog__accept-btn:is(:hover, :focus-visible) {
    background-color: var(--contrast-color);
  }

  .edit-dialog__submit-btn:is(:hover, :focus-visible) {
    opacity: 0.75;
  }

  .confirm-modal__delete-option-btn:is(:hover, :focus-visible) {
    opacity: 0.75;
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */

.confirm-modal__accept-btn:active,
.confirm-modal__cancel-btn:active,
.info-dialog__accept-btn:active,
.edit-dialog__submit-btn:active {
  transition: none;
  background-color: var(--light-accent-color);
  color: var(--base-text-color);
}

.edit-dialog__submit-btn:active {
  transition: padding 0.4s;
}

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-height: 600px) and (min-width: 600px){
  .form-dialog {
    max-width: 700px;
  }
  
  .edit-dialog__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  
  .edit-dialog__date,
  .edit-dialog__desc {
    margin: 0;
  }

  .edit-dialog__submit-btn {
    grid-column: span 2;
    justify-self: center;
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 450px) {
  .form-dialog {
    padding: 30px;
  }
}

@media screen and (max-width: 400px) {
  .form-dialog {
    padding: 30px 25px;
  }
}

/* END OF MEDIA QUERIES */