/* DIALOG */

.confirm-modal-container,
.edit-modal-container,
.info-modal-container { 
  font-size: 1.225rem;
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.edit-modal-overlay,
.confirm-modal-overlay,
.info-modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.25s;
}

.confirm-modal,
.edit-modal,
.info-modal {
  position: relative;
  max-width: 400px;
  background-color: #fff;
  padding: 30px;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
  transform: scale(0);
  transition: transform 0.25s, opacity 0.20s;
  scrollbar-width: thin;
  max-height: 95vh;
  overflow-y: auto;
  z-index: 25;
  opacity: 0;
}

.confirm-modal img,
.info-modal img {
  display: block;
  margin: 0 auto 15px;
}

.confirm-modal__recycle-placeholder-img {
  width: 100px;
}

.dialog__capybara-placeholder-img {
  width: 125px;
}

.edit-modal__close-btn,
.confirm-modal__close-btn,
.info-modal__close-btn {
  position: absolute !important;
  right: 15px;
  top: 15px;
  line-height: 0;
  padding: 3px;
}

.confirm-modal__desc,
.info-modal__desc {
  margin: 0 0 30px;
} 

.confirm-modal__accept-btn,
.confirm-modal__cancel-btn,
.info-modal__accept-btn {
  background-color: var(--dark-accent-color);
  padding: 12px 18px;
  color: #fff;
  border-radius: 3px;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.edit-modal__close-btn .edit-modal__close-icon,
.confirm-modal__close-btn .confirm-modal__close-icon,
.info-modal__close-btn .info-modal__close-icon {
  width: 1.35em;
}

.confirm-modal__delete-options-container {
  font-size: 1.1rem;
  margin-top: 20px;
}

.confirm-modal__delete-option-btn {
  color: var(--medium-accent-color);
  transition: opacity var(--base-transition-duration);
}

.confirm-modal__delete-option-btn:first-child {
  margin-bottom: 5px;
}

/* END OF DIALOG */

/* EDIT DIALOG */

.form-modal {
  max-width: 450px;
  text-align: start;
  padding: 30px 50px;
  width: 100%;
}

.edit-modal__title-input, 
.edit-modal__due-date-input,
.edit-modal__desc-textarea {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  border: 2px dashed var(--dark-accent-color);
}

.edit-modal__title-input, 
.edit-modal__due-date-input {
  background-color: var(--light--accent-color);
}

.edit-modal__title-input:focus, 
.edit-modal__due-date-input:focus,
.edit-modal__desc-textarea:focus {
  outline: none;
  border: 2px solid var(--dark-accent-color);
}

.edit-modal label {
  display: block;
  padding: 0 0 10px;
}

.edit-modal__desc-textarea {
  resize: vertical;
  max-height: 250px;
  min-height: 100px;
  scrollbar-width: thin;
  display: block;
}

.edit-modal__submit-btn {
  background-color: var(--medium-accent-color);
  border-radius: 5px;
  width: 100%;
}

.edit-modal__input-error {
  color: var(--base-text-color);
  border-radius: 2px;
  margin: 10px 0 20px;
  font-size: 1.05rem;
}

.edit-modal__input-error.active {
  background-color: var(--light-accent-color);
  padding: 5px;
}

.edit-modal__error {
  color: var(--base-text-color);
  border-radius: 2px;
  font-size: 1.05rem;
}

.edit-modal__error.active {
  margin: 10px 0 10px;
  padding: 10px;
  background-color: var(--light-accent-color);
}

/* END OF EDIT DIALOG */

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  .confirm-modal__accept-btn:is(:hover, :focus-visible),
  .confirm-modal__cancel-btn:is(:hover, :focus-visible),
  .info-modal__accept-btn:is(:hover, :focus-visible) {
    background-color: var(--contrast-color);
  }

  .edit-modal__submit-btn:is(:hover, :focus-visible) {
    opacity: 0.75;
  }

  .confirm-modal__delete-option-btn:is(:hover, :focus-visible) {
    opacity: 0.75;
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */

.confirm-modal__accept-btn:active,
.confirm-modal__cancel-btn:active,
.info-modal__accept-btn:active,
.edit-modal__submit-btn:active {
  transition: none;
  background-color: var(--light-accent-color);
  color: var(--base-text-color);
}

.edit-modal__submit-btn:active {
  transition: padding 0.4s;
}

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-height: 600px) and (min-width: 600px){
  .form-modal {
    max-width: 700px;
  }
  
  .edit-modal__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  
  .edit-modal__due-date-input,
  .edit-modal__desc-textarea {
    margin: 0;
  }

  .edit-modal__submit-btn {
    grid-column: span 2;
    justify-self: center;
  }

  .edit-modal__error.active {
    display: block;
    grid-column: span 2;
    margin: 0 0 -10px;
  }

  .edit-modal__error {
    display: none;
  }

  .edit-modal__desc-error {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .form-modal {
    padding: 30px;
  }
}

@media screen and (max-width: 400px) {
  .form-modal {
    padding: 30px 25px;
  }
}

/* END OF MEDIA QUERIES */