/* QUOTE */

.quote-machine {
  padding: 40px 50px;
  border-radius: 3px;
  min-width: 400px;
  max-width: 600px;
  background-color: #fff;
}

.quote-machine__text, .quote-machine__author {
  color: var(--dark-accent-color);
  transition: color var(--base-transition-duration);
}

.quote-machine__quotes-icon {
  width: 1.75rem;
  vertical-align: bottom;
}

.quote-machine__text {
  font-size: 1.53rem;
  font-weight: normal;
  margin: 0 0 25px;
  text-align: center;
}

.quote-machine__text.loading {
  animation: fade 1.5s ease-out infinite alternate;
}

.quote-machine__author {
  display: block;
  text-align: end;
  margin: 0 0 40px;
  font-style: normal;
}

.quote-machine__buttons {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.quote-machine__buttons > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quote-machine__share-with-twitter-btn,
.quote-machine__share-with-tumblr-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: var(--dark-accent-color);
  color: inherit;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.quote-machine__share-with-twitter-icon {
  width: 1.15rem;
}

.quote-machine__share-with-tumblr-icon {
  width: 0.75rem;
}

.quote-machine__new-quote-btn {
  background-color: var(--dark-accent-color);
  padding: 0 15px;
  border-radius: 3px;
  transition: background-color var(--base-transition-duration);
  font-size: 1.07rem;
}

/* END OF QUOTE */

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  .quote-machine__share-with-twitter-btn:is(:hover, :focus-visible),
  .quote-machine__share-with-tumblr-btn:is(:hover, :focus-visible) {
    color: var(--base-text-color);
    background-color: var(--contrast-color);
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */
  .quote-machine__buttons button:active,
  .quote-machine__buttons button:active::after {
    transition: none;
    color: var(--base-text-color);
    background-color: var(--contrast-color);
  }

  .quote-machine__share-with-twitter-btn:active,
  .quote-machine__share-with-tumblr-btn:active {
    transition: none;
    opacity: 0.75;
  }

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
  .quote-machine {
    padding: 40rem 50px;
    min-width: 300px;
  }

  .quote-machine {
    padding: 30px 40px;
  }
}

/* END OF MEDIA QUERIES */