.register-form,
.login-form {
  display: inline-block;
  padding: 15px;
  background-color: #fff;
  border: 2px solid red;
  max-width: 325px;
  width: 100%;
}

.register-form label,
.register-form input,
.login-form label,
.login-form input {
  display: block;
  width: 100%;
}

.register-form label,
.login-form label {
  padding: 0 0 8px;
}

.register-form input {
  padding: 2px 5px;
  margin: 0 0 5px;
}

.login-form input {
  padding: 2px 5px;
  margin: 0 0 15px;
}

.register-form .error-message {
  margin: 0 0 15px;
}

.register-form__submit-btn,
.login-form__submit-btn {
  background-color: green;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  margin: 10px 0 0;
}

.login-form__submit-btn {
  background-color: black;
}