/* RESET */

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

button:hover, a:hover {
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* END OF RESET */

/* MATERIAL ICONS */

.material-symbols-outlined {
  font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* END OF MATERIAL ICONS */

/* BODY AND MAIN */

body {
  font-family: sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #9b59b6;
  padding: 30px;
  background-image: url(img/purple-background.jpg);
}

/* END OF MAIN */

/* QUOTE */

.quote {
  padding: 40px 50px;
  border-radius: 3px;
  max-width: 600px;
  background-color: #fff;
}

.quote__text, .quote__author {
  color: #593e7f;
}

.quote__text svg {
  width: 30px;
  vertical-align: bottom;
}

.quote__text {
  display: flex;
  font-size: 1.75rem;
  margin: 0 0 25px;
  text-align: center;
}

.quote__author {
  text-align: end;
  margin: 0 0 40px;
}

.quote__buttons {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.quote__social {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quote__social > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #593e7f;
  color: inherit;
}

.quote__social-twitter {
  width: 20px;
}

.quote__social-tumblr {
  width: 13px;
}

.quote__buttons > button {
  background-color: #593e7f;
  padding: 0 15px;
  border-radius: 3px;
}

/* END OF QUOTE */

/* _TODO */

.todo {
  font-size: 1.35rem;
  max-width: 600px;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  padding: 30px;
  max-height: 800px;
  overflow-y: scroll;
}

.todo__intro {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  background-color: #ecdeff;
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 20px;
  position: relative;
  z-index: 1;
}

.todo__intro-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.todo__intro-buttons > button {
  background-color: #593e7f;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

.todo__intro-buttons > button:nth-of-type(1) {
  grid-row: span 2;
}

.todo__intro-buttons svg {
  width: 1.3em;
}

.todo__intro-buttons > button:nth-of-type(1) > svg {
  width: 1.6em;
}

.todo__info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo__info > p:first-child {
  font-weight: bold;
}

.todo__sections {
  margin: 0 0 40px;
}

.todo__sections > button {
  background-color: #efefef;
  padding: 12px;
  border-radius: 50px;
  font-size: 0.67em;
}

.todo__sections h2 {
  font-weight: normal;
}

.todo__sections > button:first-child {
  background-color: #000;
  color: #fff;
}

.todo__todos-container {
  list-style-type: none;
}

.todo__todos-container > li {
  background-color: #593e7f;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  margin: 0 0 20px;
}

.todo__task-name {
  margin: 0 0 5px;
}

.todo__task-date {
  opacity: 0.8;
  margin: 0 0 15px;
  color: #ecdeff;
}

.todo__task-desc {
  margin: 0 0 25px;
}

.todo__edit-buttons {
  display: flex;
  line-height: 0;
  justify-content: space-between;
}

.todo__edit-buttons span {
  font-size: 1.45em;
}

.todo__edit-buttons div button:nth-of-type(2) span {
  font-size: 1.5em;
}

.todo__edit-buttons div {
  letter-spacing: 5px;
}

/* ADD TODO PROMPT */

.todo__add-todo-prompt {
  position: relative;
  background-color: #593e7f;
  border-radius: 5px;
  margin: 0 0 20px;
  overflow: hidden;
  max-height: 0;
  transform: translateY(-150px);
  transition: max-height 1.5s, transform .5s;
}

.todo__add-todo-prompt form {
  padding: 30px;
}

.todo__add-todo-prompt label {
  display: block;
  color: #fff;
  margin: 0 0 10px;
}

.todo__add-todo-prompt input, .todo__add-todo-prompt textarea {
  border: none;
  padding: 10px;
}

.todo__add-todo-prompt input {
  width: 100%;
  border-radius: 3px;
  margin: 0 0 25px;
  background-color: #ecdeff;
}

.todo__add-todo-prompt textarea {
  display: block;
  width: 100%;
  resize: vertical;
  min-height: 100px;
  max-height: 250px;
  border-radius: 3px;
  margin: 0 0 25px;
}

.todo__add-todo-prompt__cancel-btn {
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  line-height: 0;
}

.todo__add-todo-prompt__cancel-btn span {
  font-size: 1.5em;
}

.todo__add-todo-prompt__cancel-btn:hover {
  opacity: 1;
}

.todo__add-todo-prompt__cancel-btn:hover span {
  font-variation-settings:'FILL' 1;
}

.todo__add-todo-prompt__submit-btn {
  background-color: #b259b6;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  width: 100%;
}

/* END OF ADD TODO PROMPT*/

/* END OF TODO*/


.test-colors {
  color: #16a085;
  color: #27ae60;
  color: #2c3e50;
  color: #f39c12;
  color: #e74c3c;
  color: #9b59b6;
  color: #FB6964;
  color: #342224;
  color: #472E32;
  color: #BDBB99;
  color: #77B1A9;
  color: #73A857;
}

@media screen and (max-width: 1000px) {
  main {
    flex-flow: column;
  }
}