/* DIALOG */

.dialog-backdrop { 
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.dialog {
  position: relative;
  max-width: 400px;
  background-color: #fff;
  padding: 30px;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
  transform: scale(0);
  transition: transform 0.25s;
}

.dialog img {
  display: block;
  margin: 0 auto 10px;
}

.dialog__recycle-placeholder-img {
  width: 100px;
}

.dialog__capybara-placeholder-img {
  width: 125px;
  padding: 0 0 5px;
}

.dialog__cancel-btn, .form-dialog__cancel-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 0;
}

.dialog__desc {
  margin: 0 0 30px;
} 

.dialog__confirmation-btn,
.dialog__discard-btn {
  background-color: var(--dark-accent-color);
  padding: 12px 18px;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.dialog__cancel-btn span, .form-dialog__cancel-btn span {
  font-size: 1.4em;
}

/* END OF DIALOG */

/* FORM DIALOG */

.form-dialog__task, 
.form-dialog__date,
.form-dialog__desc {
  width: 100%;
  border-radius: 3px;
  margin: 0 0 25px;
  padding: 10px;
  border: 2px dashed var(--dark-accent-color);
}

.form-dialog__task, 
.form-dialog__date {
  background-color: var(--light--accent-color);
}

.dialog > form > label {
  display: block;
  margin: 0 0 10px;
}

.form-dialog__desc {
  resize: vertical;
  max-height: 250px;
  min-height: 100px
}

.form-dialog__submit-btn {
  background-color: var(--medium-accent-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

/* END OF FORM DIALOG */

/* ADD TODO PROMPT */

.todo-app-prompt {
  position: relative;
  background-color: var(--dark-accent-color);
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  transform: translateY(-150px);
  transition: max-height 1.5s, transform .5s, margin 0.5s, background-color var(--theme-transition-delay);
}

.todo-app-prompt form {
  padding: 35px 30px;
}

.todo-app-prompt label {
  display: block;
  color: #fff;
  margin: 0 0 10px;
}

.todo-app-prompt input, .todo-app-prompt textarea {
  border: none;
  padding: 10px;
}

.todo-app-prompt input {
  width: 100%;
  border-radius: 3px;
  margin: 0 0 25px;
  background-color: var(--light-accent-color);
  transition: background-color var(--theme-transition-delay);
}

.todo-app-prompt textarea {
  display: block;
  width: 100%;
  resize: vertical;
  min-height: 100px;
  max-height: 250px;
  border-radius: 3px;
  margin: 0 0 25px;
}

.todo-app-prompt__cancel-btn {
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  line-height: 0;
}

.todo-app-prompt__cancel-btn span {
  font-size: 1.5em;
}

.todo-app-prompt__submit-btn {
  font-weight: bold;
  background-color: var(--medium-accent-color);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  transition: background-color var(--theme-transition-delay), color var(--theme-transition-delay);
}

/* END OF ADD TODO PROMPT */

/* SEARCH TODO PROMPT */

.search-todo-prompt {
  border-radius: 5px;
  overflow: hidden;
  transform: translateX(-600px);
  max-height: 0;
  transition: max-height 1.25s , transform 1.25s;
}

.search-todo-prompt__form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  padding: 15px 50px 30px;
}

.search-todo-prompt__form > button {
  background-color: var(--dark-accent-color);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  transition: background-color var(--theme-transition-delay), color var(--theme-transition-delay);
}

.search-todo-prompt__form svg {
  width: 1.8rem;
}

.search-todo-prompt__form input {
  width: 100%;
  height: 100%;
  border: 2px solid var(--dark-to-medium-accent-color);
  padding: 10px;
  border-radius: 3px;
  transition: border var(--theme-transition-delay);
}

/* END OF SEARCH TODO PROMPT */