/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font-size: 14px;
}

/* END OF RESET */

/* ROOT */

:root {
  --dark-accent-color: #404040;
  --dark-to-medium-accent-color: #878787;
  --medium-accent-color: #a4a4a4;

  --contrast-color: #9c9c9c;
  --background-image: url(../img/app-background/grey-background.jpg);
  --theme-transition-delay: 0.15s;
  --light-accent-color: #c3c3c3;
}

/* END OF ROOT*/

/* MATERIAL ICONS */

.material-symbols-outlined {
  font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* END OF MATERIAL ICONS */

/* BODY AND MAIN */

body {
  font-family: sans-serif;
  margin: 0 auto;
  background-color: var(--light-accent-color);
  min-width: 360px;
  position: relative;
  transition: background-color 0.5s;
}

.content {
  z-index: 1;
  position: relative;
}

.background-image {
  transition: opacity 1s;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  opacity: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  place-items: center;
  gap: 10%;
  padding: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

/* END OF MAIN */

/* QUOTE */

.quote {
  padding: 40px 50px;
  border-radius: 3px;
  min-width: 400px;
  max-width: 600px;
  background-color: #fff;
}

.quote__text, .quote__author {
  color: var(--dark-accent-color);
  transition: color var(--theme-transition-delay);
}

.quote__text svg {
  width: 1.9rem;
  vertical-align: bottom;
}

.quote__text {
  font-size: 1.75rem;
  font-weight: normal;
  margin: 0 0 25px;
  text-align: center;
}

.quote__text {
  font-weight: normal;
}

.quote__author {
  display: block;
  text-align: end;
  margin: 0 0 40px;
  font-style: normal;
}

.quote__buttons {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.quote__buttons > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quote__buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: var(--dark-accent-color);
  color: inherit;
  transition: background-color var(--theme-transition-delay), color var(--theme-transition-delay);
}

.quote__share-with-twitter-btn > svg {
  width: 1.25rem;
}

.quote__share-with-tumblr-btn > svg {
  width: 0.82rem;
}

.quote__buttons > button {
  background-color: var(--dark-accent-color);
  padding: 0 15px;
  border-radius: 3px;
  transition: background-color var(--theme-transition-delay);
}

/* END OF QUOTE */

/* _TODO APP */

.todo-app {
  display: flex;
  flex-flow: column;
  font-size: 1.35rem;
  max-width: 600px;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  padding: 30px 25px;
  height: 83.75vh;
  min-height: 620px;
  max-height: 800px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges;
}

/* _TODO APP INTRO */

.todo-app-intro {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  background-color: var(--light-accent-color);
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 20px;
  position: relative;
  z-index: 1;
  transition: background-color var(--theme-transition-delay);
}

.todo-app-intro__info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75em;
}

.todo-app-intro__tasks-left{
  font-weight: normal;
}

.todo-app-intro__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.todo-app-intro__add-btn, 
.todo-app-intro__search-btn,
.todo-app-intro__clear-btn {
  background-color: var(--dark-accent-color);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  transition: background-color var(--theme-transition-delay), color var(--theme-transition-delay);
}

.todo-app-intro__add-btn {
  grid-row: span 2;
}

.todo-app-intro__buttons svg {
  width: 1.3em;
}

.todo-app-intro__add-btn > svg {
  width: 1.6em;
}

/* END OF TODO APP INTRO*/

/* _TODO APP SECTIONS */

.todo-sections {
  margin: 0 0 40px;
}

.todo-sections__all-btn,
.todo-sections__tasks-btn,
.todo-sections__completed-btn {
  background-color: #efefef;
  padding: 12px;
  border-radius: 50px;
  font-size: 0.67em;
  transition: background-color 0.15s, color 0.15s;
}

.todo-sections h2 {
  font-weight: normal;
}

/* END OF TODO APP SECTIONS*/

/* START OF TODOS CONTAINER */

.todos-container {
  list-style-type: none;
  flex: 1;
}

/* PLACEHOLDER IMAGE */

.todos-container__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0 40px;
}

.todos-container__empty-section-image {
  width: 50%;
}

/* END OF PLACEHOLDER IMAGE*/

.todo {
  color: #fff;
  background-color: var(--dark-accent-color);
  padding: 20px;
  border-radius: 5px;
  margin: 0 0 20px;
  transition: background-color var(--theme-transition-delay);
  word-wrap: break-word;
}

.todo__task-name {
  margin: 0 0 5px;
}

.todo__task-date {
  opacity: 0.8;
  margin: 0 0 15px;
  color: var(--light-accent-color);
  transition: color var(--theme-transition-delay);
}

.todo__task-desc {
  margin: 0 0 22px;
}

.todo__edit-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__edit-buttons button {
  line-height: 0;
}

.todo__edit-buttons > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo__edit-buttons span {
  font-size: 1.45em;
}

/* END OF TODOS CONTAINER */

/* END OF TODO APP */

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  main {
    display: flex;
    flex-flow: column;
    gap: 7rem;
  }
}

@media screen and (max-width: 600px) {
  .search-todo-prompt__form {
    grid-template-columns: 1fr;
    padding: 15px 25px 30px;
  }

  .todos-container__empty-section-image {
    width: 60%;
  }

  .todo-app-intro__info {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 500px) {
  .search-todo-prompt__form {
    padding: 15px 0 30px;
  }

  html {
    font-size: 14px;
  }

  .quote {
    padding: 40rem 50px;
    min-width: 300px;
  }

  .todo-app-prompt {
    transform: translateY(-140px); 
  }

  .todo-app-prompt form {
    padding: 25px;
  }

  main {
    padding: 30px 15px;
  }

  .todo-app {
    padding: 20px;
  }

  .quote {
    padding: 30px 40px;
  }

  .todos-container__empty-section-image {
    width: 65%;
  }
}

@media screen and (max-width: 400px) {
  .todos-container__empty-section-image {
    width: 75%;
  }
}

/* HOVER CAPABLE DEVICES */

@media screen and (hover: hover) {
  .quote__buttons button:hover {
    background-color: var(--medium-accent-color);
    transition: background-color 0.15s;
  }

  .quote__buttons a:hover {
    color: #000;
    background-color: var(--contrast-color);
    transition: background-color 0.15s, color 0.15s;
  }

  .todo-app-intro__buttons > button:hover {
    color: #000;
    background-color: var(--medium-accent-color);
    transition: background-color 0.15s, color 0.15s;
  }

  .todo-app-prompt__cancel-btn:hover > span {
    font-variation-settings:'FILL' 1;
  }

  .todo-app-prompt__submit-btn:hover {
    background-color: var(--contrast-color);
    color: #000;
    transition: background-color 0.15s, color 0.15s;
  }

  .search-todo-prompt__form > button:hover {
    background-color: var(--medium-accent-color);
    color: #000;
    transition: background-color 0.15s, color 0.15s;
  }

  .todo-sections > button:hover {
    background-color: var(--contrast-color);
    color: #000;
    /* transition: background-color 0.1s, color 0.1s; */
  }

  .todo__edit-buttons button:hover > span {
    font-variation-settings:'FILL' 1;
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* END OF MEDIA QUERIES*/

/* MODIFIERS */

.todo-app-prompt--active {
  max-height: 1000px;
  transform: translateY(0px);
  margin: 0 0 20px;
}

.btn--active {
  background-color: var(--medium-accent-color);
  transition: background-color var(--theme-transition-delay);
}

.search-todo-prompt--active {
  max-height: 1000px;
  transform: translateX(0px);
}

.todo__edit-buttons--completed {
  justify-content: end;
}

.todo--completed {
  background-color: var(--contrast-color);
  color: #000;
  text-decoration: line-through;
  transition: background-color var(--theme-transition-delay);
}

.todo__task-date--completed {
  color: #000;
}

.todo-sections--active-btn {
  background-color: #000;
  color: #fff;
}

.todo-app-intro__clear-btn--active {
  background-color: var(--medium-accent-color);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.load-quote {
  animation: fade 1.5s ease-out infinite alternate;
}

/* END OF MODIFIERS */